<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title><%= title%></title>

    <!-- style CSS-->
    <!-- Fontfaces CSS-->
    <link href="/CoolAdmin-master/css/font-face.css" rel="stylesheet" media="all">
    <link href="/CoolAdmin-master/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/CoolAdmin-master/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/CoolAdmin-master/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/CoolAdmin-master/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/CoolAdmin-master/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/CoolAdmin-master/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/CoolAdmin-master/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/CoolAdmin-master/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/CoolAdmin-master/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="lien-nav" href="index.html">
                            UNITE AUTO ECOLE 
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="index.html">Dashboard 1</a>
                                </li>
                                <li>
                                    <a href="index2.html">Dashboard 2</a>
                                </li>
                                <li>
                                    <a href="index3.html">Dashboard 3</a>
                                </li>
                                <li>
                                    <a href="index4.html">Dashboard 4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Tables</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#" class="lien-nav">
                    <img src="/images/logo.png" alt="Cool Admin" width="50" height="50"/>
                    <span>U</span>nite <span>A</span>uto <span>E</span>cole
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>cours</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="index.html">module 1</a>
                                </li>
                                <li>
                                    <a href="index2.html">Module 2</a>
                                </li>
                                <li>
                                    <a href="index3.html">Module 3</a>
                                </li>
                                <li>
                                    <a href="index4.html">Module 4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Tables</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <a href="#" class="lien-nav">Incription</a>
                            <a href="#" class="lien-nav">Comptabilité</a>
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="recherche" />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                    
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">Connexion</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Creér un compte</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="/views/connection.ejs">
                                                        <i class="zmdi zmdi-settings"></i>Se connecter</a>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="info">
                    ATTESTATION D'INSCRIPTION DU CANDIDAT AU PERMIS DE CONDUIRE. <br><br>
                    <p>
                        <em>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, tempore 
                            excepturi in quibusdam recusandae tempora dolore enim nemo corrupti! Quod 
                            voluptate nobis recusandae minus, magnam adipisci sunt placeat impedit omnis.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, tempore 
                            excepturi in quibusdam recusandae tempora dolore enim nemo corrupti! Quod 
                            voluptate nobis recusandae minus, magnam adipisci sunt placeat impedit omnis.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, tempore 
                            excepturi in quibusdam recusandae tempora dolore enim nemo corrupti! Quod 
                            voluptate nobis recusandae minus, magnam adipisci sunt placeat impedit omnis.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, tempore 
                            excepturi in quibusdam recusandae tempora dolore enim nemo corrupti! Quod 
                            voluptate nobis recusandae minus, magnam adipisci sunt placeat impedit omnis.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, tempore 
                            excepturi in quibusdam recusandae tempora dolore enim nemo corrupti! Quod 
                            voluptate nobis recusandae minus, magnam adipisci sunt placeat impedit omnis.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, tempore 
                            excepturi in quibusdam recusandae tempora dolore enim nemo corrupti! Quod 
                            voluptate nobis recusandae minus, magnam adipisci sunt placeat impedit omnis.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, tempore 
                            excepturi in quibusdam recusandae tempora dolore enim nemo corrupti! Quod 
                            voluptate nobis recusandae minus, magnam adipisci sunt placeat impedit omnis.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, tempore 
                            excepturi in quibusdam recusandae tempora dolore enim nemo corrupti! Quod 
                            voluptate nobis recusandae minus, magnam adipisci sunt placeat impedit omnis.
                        </em>
                    </p>
                </div>
               <p class="info"> Pour le permis de conduire; je faire mon <button class="btn-inscription" onclick="toggleForm()">
                <div id="DivClignotante" style="visibility:visible;">inscription </div></button><br></p>
        <section>
                    <!-- formulaire d'inscription-->
                    
                <p>
                    <form class="formulare" id="formulaire" action="/enregistre" method="POST"  enctype="multipart/form-data" role="form">
                        <table>
                            <tr><td>Informations du candidat</td></tr>
                         </table><br><br><br>
                         
                     <div><input  type="file" onchange="handleFiles(files)" id="upload" name="photo" class="photo" required="selectionner une photo"></div><br><br>
                     <div><label for="upload"  class="photo-label"><span id="preview"></span></label></div>
                     <br><br><br><br><br><br><br><br>
    
                    <label class="date-contact"> Nom </label> <input id="mon-input" type="text" name="nom" placeholder="  Nom candidat" required="renseignez le nom"  class="nom-prenom">
                    <label class="label-prenom"> Prénom </label> <input id="mon-input" type="text" name="prenom" placeholder="  Prénom candidat" required="renseignez le prénom" class="input-prenom"><br>
                    <label class="date-contact"> Date naissance</label> <input id="mon-input" type="date" name="naissance" placeholder="  Date du naissance" required="renseignez la date de naissance"  class="date-input"> 
                    <label class="label-contact"> Contact</label> <input id="mon-input" type="text" name="contact" placeholder="  Contact" required="renseignez le contact" class="input-contact"><br>
                    
                    <label class="date-contact"> Document d'identificat</label> 
                    <select name="identification" id="" class="input-identification">
                     <option value="0"></option>
                     <option value="ATTESTATION">ATTESTATION</option>
                     <option value="CNI">CNI</option>
                     <option value="PASSPORT">PASSPORT</option>
                     <option value="AUTRES">AUTRES</option>
                    </select>
                    
                    <label class="date-contact">Nationnalité</label> <input id="mon-input" type="text" name="nationalite" placeholder="   Nationnalité" required="renseignez la Nationnalité" class="input-nationnalite"><br>
                    <label class="date-contact"> Ville  </label> <input id="mon-input" type="text" name="ville" placeholder="  Ville candidat" required="renseignez la ville"  class="imput-ville">
                    <label class="date-contact"> profession </label> <input id="mon-input" type="text" name="profession" placeholder="   Profession candidat" required="renseignez la profession"  class="input-profession">
                    <br>
                    <br>
    
                    <table>
                        <tr><td>Informations des parents</td></tr>
                     </table><br>
                
                <label class="date-contact"> Nom du pére</label> <input id="mon-input" type="text" name="pere" placeholder="  Nom du père" required="renseignez le nom du père" class="input-pere">
                <label class="date-contact"> Nom de la mère</label> <input id="mon-input" type="text" name="mere" placeholder="  Nom de la mère" required="renseignez le nom de la mère" class="input-mere"><br><br>
                
                
                <table>
                    <tr><td>Type de permis conduire</td></tr>
                 </table><br>
            
                   <label class="date-contact"> Categorie</label> 
                   <select name="categorie" id="" class="input-categorie">
                    <option value="0"></option>
                    <option value="permis A">permis A</option>
                    <option value="permis B">permis B</option>
                    <option value="permis C">permis C</option>
    
    
                   </select>
                   <br><br><br><br><br>
                <button class="btn-enregstrer" type="submit"> Enregistrer</button>
                    </form>
                </p>

                   <!-- image -->

<style>
 #preview{
 width: 200px;
 display: inline-block;
        }
                    #preview img{
                      width: 50%;
                      
                    }
                    .photo{
                        float: right;
                    }

                    .photo-label{
                        float: right;
                        margin-right: 100px;
                    }

    .formulare{
        display: none;
        
    }
    .btn-inscription{
        color: rgb(12, 191, 54);
        font-weight: 900;
     
    }
    .info{
        margin-left: 50px;
        
    }
                  </style>    
                

         </section>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
    </div>

    </div>
    <!-- Jquery JS-->
    <script src="/CoolAdmin-master/mon-js/script.js"></script>

    <!-- Jquery JS-->
    <script src="/CoolAdmin-master/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/CoolAdmin-master/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/CoolAdmin-master/vendor/slick/slick.min.js">
    </script>
    <script src="/CoolAdmin-master/vendor/wow/wow.min.js"></script>
    <script src="/CoolAdmin-master/vendor/animsition/animsition.min.js"></script>
    <script src="/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/CoolAdmin-master/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/CoolAdmin-master/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/CoolAdmin-master/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/CoolAdmin-master/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="/CoolAdmin-master/js/main.js"></script>

</body>

</html>
<!-- end document-->